.btstrap_navbar {
    background-color: #ffffff00 !important;
    width: max-content !important;
    height: max-content !important;
}

.navbar {
    display: flex;
    gap: 20px;
}

.nav-link {
    padding: 0 !important;
}