* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif" !important;
}

.main {
    background-color: #fbfaff;
}

.navbar_ {
    width: 62.5%;
    margin: 0 auto;
    padding: 22px 24px !important;
    display: flex;
    gap: 50px;
}

.logo img {
    width: 186px;
}

.nav_links {
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 1;
}

.nav-item a {
    padding: 0 !important;
    height: max-content;
}

.purple_txt {
    color: #6851ff !important;
}

.butn {
    font-size: 30px;
}

.hero_Sec {
    width: 62.5%;
    margin: 0 auto;
    padding: 0 24px;
}

.sec_1 {
    margin: 48px 0;
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    gap: 2.5rem;
}

.abut {
    font-size: 2.1rem;
    font-weight: 400;
}

.talent {
    margin-top: 16px;
}

.talent , .meets {
    font-size: 3rem;
    font-weight: 700;
}

.sml_txt {
    font-weight: 400;
    font-size: 1rem;
}

.meets {
    color: #6851ff;
    margin-bottom: 16px;
}

.image img {
    width: 100%;
    height: auto;
}

.txt_2 {
    width: 100%;
    height: 400px;
    background-color: #fff;
    border-radius: .75rem;
    border: 1px solid #d1d5db;
    box-shadow: 0 2px 5px rgba(99, 98, 98, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.belive {
    font-size: 2.5rem;
    font-weight: 700;
}

.prpl_txt2 {
    font-size: 2rem;
    color: #6851ff;
    font-weight: 700;
}

.heading1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.text p {
    margin: 0 !important;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.sec_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}

.box_ {
    padding: 1.5rem;
    background-color: #fbcfe8;
    border-radius: 1rem;
    
}

.headng {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.tExt {
    margin-bottom: 1rem;
    color: #1f2937;
}

.imge {
    margin: 0 auto;
    width: max-content;
}

.box_ img {
    width: 8rem;
    display: inline-block;
    margin: 0 auto;
} 

.blu {
    background-color: #bfdbfe;
}

.imge_2 img {
    width: 100%;
    object-fit: contain;
    height: 10rem;
}

.yell {
    grid-row: span 2; 
    background-color: #fef08a;
}

.imge_3 img {
    width: 100%;
    object-fit: contain;
    height: 16rem;
}

.orng {
    background-color: #fed7aa;
}

.imge_4 img {
    width: 100%;
    object-fit: contain;
    height: 10rem;
}

.pur {
    background-color: #e9d5ff;
}

.imge_5 img {
    width: 100%;
    object-fit: contain;
    height: 10rem;
}

.headingp {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}