* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif" !important;
}

.main {
    background-color: #fbfaff;
    background: linear-gradient(to bottom, #fbfaff, #ece9ff);
}

.navbar_ {
    width: 62.5%;
    margin: 0 auto;
    padding: 22px 24px !important;
    display: flex;
    gap: 50px;
}

.logo img {
    width: 186px;
}

.nav_links {
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 1;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-item a {
    padding: 0 !important;
    height: max-content;
}

.arrow {
    font-size: 12px;
    height: 10px;
    color: #6952ff;
}

.purple_link {
    color: #6851ff !important;
}

.toggle_butn {
    font-size: 30px;
}

.hero_Sec {
    width: 62.5%;
    margin: 0 auto;
    padding: 0 24px;
}

.sec {
    margin: 48px 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

.abut {
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 1.4;
}

.talent {
    margin-top: 16px;
}

.talent , .meets {
    font-size: 3rem;
    font-weight: 700;
    /* height: 10px; */
    line-height: 1.2;
}

.sml_txt {
    font-weight: 400;
    font-size: 1rem;
}

.meets {
    color: #6851ff;
    margin-bottom: 16px;
}

.image {
    width: 100%;
    padding: 12px;
    display: flex;
} 

.image_album img {
    max-width: 100%;
    display: block;
    height: auto;
    padding: 12px;
}

.txt_2 {
    width: 100%;
    height: 400px;
    background-color: #fff;
    border-radius: .75rem;
    border: 1px solid #d1d5db;
    box-shadow: 0 2px 5px rgba(99, 98, 98, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.belive {
    font-size: 2.5rem;
    font-weight: 700;
}

.prpl_txt2 {
    font-size: 2rem;
    color: #6851ff;
    font-weight: 700;
}

.heading_ {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.text p {
    margin: 0 !important;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.text .smal_para  {
    font-size: 0.875rem;
}

.strong {
    color: #000;
}

._2 {
    margin: 7rem 0;
}

.sec_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}

.box_ {
    padding: 1.5rem;
    background-color: #fbcfe8;
    border-radius: 1rem;
    
}

.headng {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.tExt {
    margin-bottom: 1rem;
    color: #1f2937;
}

.imge {
    margin: 0 auto;
    width: max-content;
}

.box_ img {
    width: 8rem;
    display: inline-block;
    margin: 0 auto;
} 

.blu {
    background-color: #bfdbfe;
}

.imge_2 img {
    width: 100%;
    object-fit: contain;
    height: 10rem;
}

.yelow {
    grid-row: span 2; 
    background-color: #fef08a;
}

.imge_3 img {
    width: 100%;
    object-fit: contain;
    height: 16rem;
}

.orng {
    background-color: #fed7aa;
}

.imge_4 img {
    width: 100%;
    object-fit: contain;
    height: 10rem;
}

.pur {
    background-color: #e9d5ff;
}

.imge_5 img {
    width: 100%;
    object-fit: contain;
    height: 10rem;
}

.heading_journey {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.txt p {
    color: #000;
}

.album2 img {
    border-radius: 2.75rem;
}

.sec_4_mission_vision {
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    margin-top: 5rem;
    gap: 3rem 4rem;
}

.heading_mission_vision_card {
    grid-column: span 2;
    text-align: center;
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 1.2;
}

.card_ {
    padding: 2em;
    background-color: #fff;
    border-radius: .75em;
}

.heading_mission_vision {
    color: #6851ff;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.norml_txt_mission_vision {
    margin: 0;
    line-height: 1.5;
    color: #000;
}

.sec_5_news {
    margin-top: 10em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em 2em;
}

.heading_news_cards {
    grid-column: span 3;
    font-size: 2.125rem;
    line-height: 1.2;
    font-weight: 700;
    color: #000;
    text-align: center;
}

.card_pic img {
    width: 100%;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}

.news_card {
    display: flex;
    flex-direction: column;
}

.about_card {
    padding: 1em;
    padding-bottom: 1.5em;
    background-color: #fff;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    flex-grow: 1; /* Ye ensure karega ke ye portion bacha hua height fill kare */
    display: flex;
    flex-direction: column;
}

.card_heading {
    font-size: 1.25em;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    font-weight: 700;
    color: #6851ff;
}

.card_text {
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.72em;
    color: #1f2937;
}